<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Basic mongoos</title>
  </head>
  <body>
    <ul>
      <%for(i in users){%>
        <li>Name: <%= users[i].name %> | Age: <%= users[i].age %></li>
      <%}%>
    </ul>
    <form action="/users" method="POST">
      <input type="text" name="name">
      <input type="text" name="age">
      <input type="submit" value="submit">
    </form>
  </body>
</html>
