<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hacker</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/hacker.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}"?
    <script type="text/javascript" src="{{url_for('static',filename='js/script.js')}}"></script>
  </head>
  <body>
    <h1>Hacker</h1>
    <p><span>{{session['count']}}</span> times.</p>
    <form action="/hackerproc">
      <button>Reset</button>
    </form>
  </body>
</html>
