<html>
<head>
  <title>Friends</title>
</head>
<body>
  <h2>Update</h2>
  <!-- {{the_ids}}-->
  <form action='/change/' method='POST'>
   <select name="chosen_id">
    {%for ids in the_ids%}
      <option value="{{ids['id']}}">{{ids['id']}}</option>
    {%endfor%}
  </select>
    <label for="first_name">First Name:<input type="text" name="first_name" id="first_name"></label>
    <label for="last_name">Last Name:<input type="text" name="last_name" id="last_name"></label>
    <label for="occupation">Occupation:<input type="text" name="occupation" id="occupation"></label>
    <input type="submit" value="update">
  </form>
</body>
</html>
