<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>INDEX</title>
  </head>
  <body>
    <form action="/result" method="POST">
      Name:<input name="name" type="text"><br>
      Dojo Location:
      <select name="location">
        <option>Burbank</option>
        <option>LA</option>
        <option>OrangeCounty</option>
      </select><br>
      Favorite Language:
      <select name="lang">
        <option>MEAN</option>
        <option>IOS</option>
        <option>Python</option>
      </select><br>
      Comment <textarea name="comments"></textarea>
      <input type="submit">
    </form>
  </body>
</html>
