<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>THE RESULT</title>
  </head>
  <body>
    <h1>Result</h1>
    name: <%= user_data.name %><br>
    location: <%= user_data.location %><br>
    favorite language: <%= user_data.lang %><br>
    comments: <%= user_data.comment %>
  </body>
</html>
