<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Register</title>
    {%load staticfiles%}
    <link rel="stylesheet" type='text/css' href="{%static 'dashboard/css/master.css'%}">
  </head>
  <body>
    <div class="wrapper">
      <div class="nav">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/signin">Sign In</a></li>
        </ul>
      </div>
      <div class="container-fluid">
        {%if messages%}
          {%for message in messages%}
            <p class='{{message.tags}}'>{{message}}</p>
          {%endfor%}
        {%endif%}
        <div class="middle-me">
          <h3>Register</h3>
          <form action="/register/process" method="POST">
            {%csrf_token%}
            <input type="text" name="email" placeholder="Email">
            <input type="text" name="first_name" placeholder="First Name">
            <input type="text" name="last_name" placeholder="Last Name">
            <input type="text" name="password" placeholder="Password">
            <input type="text" name="cpassword" placeholder="Confirm Password">
            <input type="submit" value="Register">
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
