<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User</title>
    {%load staticfiles%}
    <link rel="stylesheet" type='text/css' href="{%static 'dashboard/css/master.css'%}">
  </head>
  <body>
    <div class="wrapper">
      <div class="nav">
        <ul>
          <li><a href="/dashboard">Dashboard</a></li>
          <li><a href='/user/edit'>Profile</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
      <div class="container-fluid">
        {%if messages%}
          {%for message in messages%}
            <p class='{{message.tags}}'>{{message}}</p>
          {%endfor%}
        {%endif%}
        <h2>{{user.first_name}} {{user.last_name}}</h2>
        <p>Registered At: {{user.created_at}}</p>
        <p>User ID: {{user.id}}</p>
        <p>Email Address: {{user.email}}</p>
        <p>Description: {{user.description}}</p>
        <h5>Leave a message for {{user.first_name}} {{user.last_name}}</h5>
        <form action='/post/message/{{user.id}}' method="POST">
          {%csrf_token%}
          <textarea name='message'></textarea>
          <input type="submit" value="Post">
        </form>
        <div class="posted-message">
          {%for message in user.message_users.all%}
            <fieldset>
                <p>From: {{message.posted_by.first_name}} {{message.posted_by.last_name}} | Posted at: {{message.created_at}}</p>
                <p>{{message.message}}</p>
                {%for comment in message.message_comments.all%}
                  <p>Comment By: {{comment.user.first_name}} {{comment.user.last_name}} | Posted At: {{comment.created_at}}</p>
                  <p>{{comment.comment}}</p>
                {%endfor%}
                <form action="/post/comment/{{message.id}}" method="POST">
                  {%csrf_token%}
                  <input type="hidden" name="the_id" value="{{user.id}}">
                  <textarea name="comment"></textarea>
                  <input type='submit' value="post">
                </form>
            </fieldset>
          {%endfor%}
        </div>
      </div>
    </div>
  </body>
</html>
