*{
  font-family: Arial;
}
fieldset{
  width:47.6%;
  display:inline-block;
  vertical-align: top;
  padding:10px;
}
label{
  width:100%;
}
.error{
  color:red;
  font-weight:bold;
}
.success{
  color:green;
}
