*{
  font-family: Arial
}
form{
  width:22.36%;
  display:inline-block;
  margin:0 15px;
}
.log{
  height: 260px;
  overflow: scroll;
  margin-top:30px;
  border:1px solid black;
}
.red{
  color:red;
}
.green{
  color:green;
}
