<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>result</title>
  </head>
  <body>
    <h1>Survey Result</h1>
    <p>Name: <%= person.name %></p>
    <p>Location: <%= person.location %></p>
    <p>Language: <%= person.lang %></p>
  </body>
</html>
