<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>Controlling Users</title>
    <script src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="script.js"></script>
  </head>
  <body>
    <fieldset ng-controller="UserController">
      <legend>User Controller</legend>
      <form ng-submit='addUser()'>
        First Name: <input type="text" ng-model="newUser.first_name"><br>
        Last Name: <input type="text" ng-model="newUser.last_name"><br>
        Favorite Language: <input type="text" ng-model="newUser.fav_lang"><input type="submit" value="Add User">
      </form>
      Search: <input type="text" placeholder="Filter..." ng-model="searchUser">
      <table>
        <tr>
          <!-- on click change the sortType by ..... and reverse the sortReverse so it can be sorted multiple times -->
          <th ng-click="sortType='first_name';sortReverse = !sortReverse">First Name<span ng-show="sortType == 'name' && !sortReverse" >^</span><span ng-show="sortType == 'name' && sortReverse" >*</span></th>
          <th ng-click="sortType='last_name';sortReverse = !sortReverse">Last Name</th>
          <th ng-click="sortType='fav_lang';sortReverse = !sortReverse">Fav Language</th>
          <th>Date Registered</th>
          <th>Actions</th>
        </tr>
        <!-- track by index so i can use $index in the delete function to know which one to delete in the array -->
        <tr ng-repeat="user in users | filter:searchUser | orderBy:sortType:sortReverse track by $index">
          <td>{{user.first_name}}</td>
          <td>{{user.last_name}}</td>
          <td>{{user.fav_lang}}</td>
          <td>{{user.date | date:'MMM-dd-yyyy h:mm a'}}</td>
          <td><span ng-click="delete($index)">REMOVE USER</span></td>
        </tr>
      </table>
    </fieldset>
  </body>
</html>
